@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(145deg, #e5e6e5, #c1c2c1);
    font-family: 'Roboto Mono', monospace;
}
.head{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(145deg, #002b24, #00241f);
    box-shadow:  5px 5px 8px #7a7a7a,
             -5px -5px 8px #999b99;
}
.header{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002822;
    color: #adadaf;
    margin: 10px;
}
.imageCard{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
}
.imageBox{
    width: 100%;
    padding: 10px;
    background-image: url('Images/image.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    max-width: 100%;
    max-height: 100%;
}

.mainArea{
    width: 98vw;
    padding: 35px 80px;
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 385px;
    margin: 0 30px;
    border-radius: 20px;
    margin-bottom: 50px;
    background: linear-gradient(145deg, #e5e6e5, #c1c2c1);
    box-shadow:  7px 7px 13px #b6b7b6,
             -7px -7px 13px #f6f7f6;
    
}
.part1{
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(145deg, #002b24, #00241f);
    box-shadow:  0px 0px 8px #7a7a7a,
             -0px -0px 8px #999b99;
}
.boxImage{
    height: 80%;
    width: 100px;
}
.boxHeader{
    width: 450px;
    height: 100%;
    color: #cbcbce;
    display: flex;
    align-items: center;
}
.h3{
    margin: 0;
}

.boxContent{
    height: 350px;
    overflow: auto;
    border-radius: 20px;
    margin: 10px;
}
.boxContent::-webkit-scrollbar {
    display: none;
  }

.list li{
    padding-bottom: 20px;
}
.list li a{
    text-decoration: none;
    color: rgb(45, 46, 46);
}

.list li a:hover{
    text-decoration: underline;
}

.footer{
    height: 35vh;
    padding: 0 110px;
    padding-top: 50px;
    padding-bottom: 0;
    color: #adadaf;
    background: linear-gradient(145deg, #002b24, #00241f);
    box-shadow:  5px 5px 8px #7a7a7a,
             -5px -5px 8px #999b99;
}

.fpart1{
    height: 80%;
    width: 100%;
}
.name{
    margin: 0;
}
.pos{
    display: flex;
}
.work{
    margin-top: 10px;
    margin-bottom: 0;
}
.imgBox{
    margin-top: 10px;
    margin-right: 20px;
    height: 20px;
}
.desc{
    margin-top: 10px;
    margin-bottom: 0;
}
.desc a{
    color: #adadaf;
    font-style: italic;
    text-decoration: none;
}
.desc a:hover{
    text-decoration: underline;
}
.fpart2{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(117, 117, 117);
}
.fpart2 a{
    color: rgb(134, 134, 134);
}